<div *ngIf="employee">
<h1>{{employee.firstName}} {{employee.firstName}}</h1>

  <label>First Name: </label><input [(ngModel)]="employee.firstName" placeholder="first name">
  <br>
  <label>Last Name: </label><input [(ngModel)]="employee.lastName" placeholder="last name">
  <br>
  <label>ID: </label><input [(ngModel)]="employee.id" placeholder="id">
  <br>
  <label>Date of Birth: </label><input [(ngModel)]="employee.dateOfBirth" placeholder="date of birth">
  <br>
  <label>Function: </label><input [(ngModel)]="employee.function" placeholder="function">
  <br>
  <label>Experience: </label><input [(ngModel)]="employee.experience" placeholder="experience">
</div>
<button (click)="back()">Go Back</button>
