tbody .edit {
  min-width: 50px;
  height: auto;
  padding: 10px 20px;
  border: none;
  -moz-border-radius: 0 2em 2em 0;
  -webkit-border-radius: 0 2em 2em 0;
  border-radius: 0 2em 2em 0;
  background: #fd0;
}
tbody .id {
  min-width: 50px;
  border-radius: 2em 0 0 2em;
  -moz-border-radius: 2em 0 0 2em;
  -webkit-border-radius: 2em 0 0 2em;
  background-color: #fd0;
  padding: 10px 20px;
}
tbody .dark {
  background-color: #ddd;
  padding: 10px 20px;
}
tbody .light {
  background-color: #eee;
  padding: 10px 20px;
}
thead .dark {
  background-color: #ccc;
  padding: 10px 20px;
}
thead .light {
  background-color: #e5e5e5;
  padding: 10px 20px;
}
thead .id {
  text-align: center;
  min-width: 50px;
  border-radius: 0 0 0 2em;
  -moz-border-radius: 0 0 0 2em;
  -webkit-border-radius: 0 0 0 2em;
  background-color: #ffd500;
  padding: 10px 20px;
}
thead .edit {
  min-width: 50px;
  height: auto;
  padding: 10px 20px;
  border: none;
  -moz-border-radius: 0 0 2em 0;
  -webkit-border-radius: 0 0 2em 0;
  border-radius: 0 0 2em 0;
  background: #ffd500;
}
table {
  margin-left: 20px;
  border: none;
  border-spacing: 1px;
}
table * {
  font-family: Arial, sans-serif;
  font-size: larger;
}
