.edit {
  cursor: pointer;
  min-width: 50px;
  height: auto;
  padding: 10px 20px;
  border: none;
  -moz-border-radius: 0 2em 2em 0;
  -webkit-border-radius: 0 2em 2em 0;
  border-radius: 0 2em 2em 0;
  color: #fffd;
  background: #fd0;
}
.edit:hover{
  background-color: #bbb;
}
._edit {
  min-width: 50px;
  height: auto;
  padding: 10px 20px;
  border: none;
  -moz-border-radius: 0 0 2em 0;
  -webkit-border-radius: 0 0 2em 0;
  border-radius: 0 0 2em 0;
  background: #fc0;
}
.id {
  min-width: 50px;
  border-radius: 2em 0 0 2em;
  -moz-border-radius: 2em 0 0 2em;
  -webkit-border-radius: 2em 0 0 2em;
  background-color: #ffd500;
  padding: 10px 20px;
}
._id {
  text-align: center;
  min-width: 50px;
  border-radius: 0 0 0 2em;
  -moz-border-radius: 0 0 0 2em;
  -webkit-border-radius: 0 0 0 2em;
  background-color: #ffd500;
  padding: 10px 20px;
}
table {
  margin-left: 20px;
  border: none;
  border-spacing: 1px;
}
table * {
  font-family: Arial, sans-serif;
  font-size: larger;
}
.dark {
  background-color: #ddd;
  padding: 10px 20px;
}
.light {
  background-color: #eee;
  padding: 10px 20px;
}
._dark {
  background-color: #ccc;
  padding: 10px 20px;
}
._light {
  background-color: #e5e5e5;
  padding: 10px 20px;
}
